*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
}

body{
    background-color:white;
}
header  {
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
    
   
      
}

.menu{
    line-height: 5px;
    margin-right: 23px;
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
    color: 	#808080;
    margin-left: 20px;
}

.bnt1{
    gap: 2px;
    border: 10px;
    background-color:#836FFF	;
    color: black;
    border-radius: 20.5px;
    font-size: 14px;
    margin-left: 25px;
    margin-top: 20px;
    width: 130px;
    height: 31px;
    cursor: pointer;
    
}

.img1{

height: 500px;
width: 568px;
margin-left: 125px;
display: inline-block;

}


section{
    display: inline-block;
    margin-left: 86px;
}

h1{
font-style: normal;
font-weight: 900;
font-size: 100px;
line-height: 122px;
color: #515151;
}

h2{  

width: 448px;
height: 71px;
font-style: normal;
font-weight: 500;
font-size: 58px;
line-height: 71px;
color: #515151;
}

p{
    margin-top: 32px;

width: 515px;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #848484;
}

button{
    background: #ADFF00;
cursor: pointer;
width: 239px;
height: 64px;
color: black;
font-weight: 700;
border-radius: 30px;
filter: drop-shadow(0px 4px 4px rgba(rgb(0, 0, 0,0.25)));
font-size: 28px;
}

main{
    margin-top: 100px;
}


@media screen and (max-width:390px ) {
    
 
    header{
        width: auto;
        display: inline-block;
        padding: 2px;
        margin-top: 5px;
        height: auto;
        font-weight: bold;
        right: auto;
        

    }

    main{
        width: auto;
        right: auto;
    }

    
    .menu {
       
        display: inline-block;
        font-size: 14px;
        padding: 2px;
        text-align: center;
        margin-left: 2px;
        margin-right: 4px;
        right: auto;
    }

    .img1{
    
       position: relative;
        width: 250px;
        height: auto;
      margin-left: 15px;
      margin-top: 30px;
      align-items: center;
      right: auto;
      left: 50px;
    }

    h1{
        margin-top: 10px;
        width: auto;
        right: auto;
        font-size: 30px;
        margin-bottom: 4px;
        text-align: center;
    }

    h2{
        margin-top: 10px;
        width: auto;
        right: auto;
        font-size: 14px;
        margin-bottom: 4px;
        text-align: center;
       
    }

    p{
      margin-top: 10px;
        width: auto;
        right: auto;
       font-weight: bold;
        font-size: 15px;
        text-align: center;
        margin-left: 4px;
        
      
    }

    .bnt1{
      
        color: white;
        height: 40px;
        width: 100px;
        margin-left: 4px;
        font-size: 15px;
    }

button{
    color:  black;
    font-size: 15px;
    height: 50px;
    width: 120px;
    border: none;
    margin-top: 25px;
    margin-left: 130px;
    
}

section{
    margin-left: 4px;
    padding: 4px;
}

}